<footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
                Nous Contacter
            </h4>
            <div class="contact_link_box">
              <a href="https://www.google.com/maps/place/Mr.+Burger+togo/@6.170654,1.231659,21z/data=!4m5!3m4!1s0x0:0x20a652e645d1aa8b!8m2!3d6.1706785!4d1.2316978?hl=fr-FR">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Localisation
                </span>
              </a>
              <a href="tel:+22870544444">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                    Appeler Mr Burger
                </span>
              </a>
              <a href="mailto:majoiefaya96@gmail.com?subject=Project&body=Salut,j'espere que vous allez bien?.Je suis interessé par une de vos voitures.">Envoyer un Mail</a>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  mjwYo@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              Mr Burger
              
            </a>
            <p>
              Services disponibles: Repas sur place · Vente à emporter · Livraison sans contact
              Adresse : 20141, Lomé
            </p>
            <div class="footer_social">
              <a href="https://www.facebook.com/mr.burgertogo/">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="https://www.instagram.com/mr.burgertogo/?hl=fr">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            Heures d'Ouverture
            
          </h4>
          <p>
            Tous Les jours
          </p>
          <p>
            A Partir 12:00
          </p>
        </div>
      </div>
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> Tous droits Reservés
          <a href="https://html.design/">MJWYOHAN</a>
        </p>
      </div>
    </div>
  </footer>